<h1>Stupid Coaching</h1>
<div class="display-question">
  <p><%= @user_question %></p>
  <p><em>-You</em></p>
</div>

<div class="display-answer">
  <p><%= @answer %></p>
  <p><em>-Your coach</em></p>
</div>
<%= link_to 'Ask a new question', ask_path%>
