<h1>Stupid Coaching</h1>

<p>Ask your coach anything:</p>

<form id="form" method="get" action="/answer">
  <input id="input-text" type="text" name="question">
  <input id="btn-blue" type="submit" value="Ask!">
</form>
