body {
  font-family: monospace;
  font-weight: 300;
  padding: 0 24px;
}

h1 {
  font-size: 40px;
  margin-bottom: 0;
}

a {
  color: #1a73e8;
  font-size: 16px;
  text-decoration: none;
}

p {
  font-size: 20px;
}

input {
  padding: 15px 25px;
}
#input-text {
  width: 70%;
}

#btn-blue {
  background-color: #1a73e8;
  border: 1px solid #1a73e8;
  border-radius: 5px;
  color: white;
}

blockquote {
  border-left: 6px solid #ddd;
  margin: 1.5em 0;
  padding: 0.5em 1em;

  &.coach {
    background-color: lightyellow;
  }
}
